# Backend
api/.env
api/node_modules/
api/package-lock.json

# Frontend
public/node_modules/
public/package-lock.json

# Build artifacts
dist/
build/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# System files
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Temp files
*.tmp
*.bak
*.pid
*.seed
*.pid.lock
*.pem
*.cache
.tern-port

# Dependency directories
node_modules/
jspm_packages/

# Debug files
debug/
*.pdb
*.idb

# Coverage directory
coverage/

# Production
*.production